
body{
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/252/420/non_2x/hot-butter-chicken-cartoon-illustration-traditional-indian-food-meat-in-spiced-tomato-sauce-flat-color-object-restaurant-meal-served-makhani-chicken-isolated-on-white-background-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}